* {
  box-sizing: border-box;
}
body {
  background-color: #DFDBE5;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.btn-primary {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  width: 8rem;
  height: 3rem;
  margin-top: 13rem;
}

.input-group {
  margin-left: 2rem;
}

.mycontainer {
  height: 46.5rem;
  width: 62rem;
  margin-left: 2rem;
  padding: 6px;
  margin-top: 2px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow: auto;
}

.card {
  height: 20rem;
  width: 20rem;
  background-color:#2d3436;
  color: white;
 
}

.btn-danger {
  margin-left: 28rem;
  margin-top: 12rem;
}

